.hero-unit
  %img#logo.img-polaroid.pull-right.hidden-phone{ src: asset_path('ca2.png'), alt: 'Christian Aust', itemprop:'image' }
  %h1{ itemprop:'name' } Christian Aust
  %p{ itemprop:'description' } Ich berate und entwickle Software für das Internet.

%p.lead
  Ihr Projekt unterstütze ich mit Konzeption, Entwicklung und Betrieb, als Berater, Projektleiter und als Teil des Teams. Ich bin vertraut mit der Arbeitsweise von Agenturen und Konzernen, bin stressfest, zuverlässig und ganz allgemein ein netter Kollege.

%section#facts
  .row
    .span3
      %h3
        %i.icon-user
        Über mich
      %p
        Mit Internet-Technologie beschäftige ich mich seit 1993. Ich bin spezialisiert auf Internetsoftware und vernetzte Informationen. Fast 20 Jahre Erfahrung als Entwickler und Projektleiter ermöglichen fundierte Entscheidungen zu zukunftsfähiger Architektur und solidem Betrieb von Internetsoftware aller Art.

    .span3.hidden-phone
      %h3
        %i.icon-file
        Dokumente

      %ul.icons
        %li
          %i.icon-file
          %a{ href: '/profil.pdf' }
            Profil (PDF)
        %li
          %i.icon-calendar
          %a{ href: '/card.vcf' }
            Visitenkarte (vcard)

      %h3
        %i.icon-calendar
        Verfügbarkeit

      %p
        Derzeit bin ich zu etwa
        = (availability[:free]*100).to_i.to_s
        Prozent für weitere Aufgaben verfügbar.
        Voraussichtlich ab
        %strong= l(availability[:next_full], format: :month_and_year)
        kann ich meine gesamte Zeit für Ihr Projekt einsetzen.


    .span3
      %h3
        %i.icon-globe
        Weitere Profile
      %ul.icons
        %li
          %i.icon-google-plus-sign
          %a{ rel: :author, href: 'https://plus.google.com/101164729259418948334', target: '_blank' }
            google Plus
        %li
          %i.icon-linkedin-sign
          %a{ href: 'http://de.linkedin.com/in/christianaust/de', target: '_blank' }
            linkedin.com
        %li
          %i.icon-github
          %a{ href: 'https://github.com/datenimperator/', target: '_blank' }
            github.com
        %li
          %i.icon-twitter
          %a{ href: 'https://twitter.com/#!/datenimperator', target: '_blank' }
            twitter.com
        %li
          %i.icon-star
          %a{ href: 'https://www.xing.com/profile/Christian_Aust10', target: '_blank' }
            xing.com
        %li
          %i.icon-star
          %a{ href: 'https://www.freelance.de/Freiberufler/Christian_Aust', target: '_blank' }
            freelance.de
        %li
          %i.icon-star
          %a{ href: 'http://www.freelancermap.de/profil/ChristianAust3/1', target: '_blank' }
            freelancermap.de

    .span3
      %h3
        %i.icon-home
        Kontakt

      %ul.icons
        %li
          %i.icon-phone
          %a{ href: 'tel:+492246208343', itemprop:'telephone' } +49 (0)2246 208343
        %li
          %i.icon-envelope
          %a{ href: 'mailto:info@software-consultant.net', itemprop:'email'} info@software-consultant.net

        %li
          %i.icon-print
          %a{ href: 'fax:+4922462083439', itemprop:'faxNumber'} +49 (0)2246 208343-9

      %h3
        %i.icon-question-sign
        Impressum
      .author
        %strong Christian Aust
        %small
          %a{ rel: :publisher, href: 'https://plus.google.com/105874409348870423162/about?gl=DE&hl=de-DE', target:'_blank' }
            Google Places&trade;
        <br>
        %span{ itemprop:'jobTitle' } Software Consultant

        %address{ itemprop:'address', itemscope:true, itemtype:'http://schema.org/PostalAddress' }
          %span{ itemprop:'streetAddress' } Auelsweg 22
          <br>
          %span{ itemprop:'postalCode' } 53797
          %span{ itemprop:'addressLocality' } Lohmar
        %p
          %strong USt-ID
          DE 251152105


  #handwriting.pull-right
    %img#scribble.hidden-phone{ src: asset_path('scribble.png'), alt: 'Was kann ich für Sie tun?' }

%section#referenzen
  %a{ name:'referenzen' }
  %h2 Referenzen

  %p Was sagen andere über meine Arbeit?

  #references.carousel.slide
    .carousel-inner
      = partial(:reference, collection: references)
    %a.carousel-control.left{ href:'#references', 'data-slide'=>'prev'} &lsaquo;
    %a.carousel-control.right{ href:'#references', 'data-slide'=>'next'} &rsaquo;

%section#angebot
  %a{ name:'angebot' }
  %h2 Mein Angebot

  %p
    Ich verfüge über Erfahrung mit diesen Themen und Werkzeugen. Die
    %strong fett
    gedruckten Einträge waren in den Projekten der letzten 4 Jahre besonders häufig vertreten.


  .row
    .span4
      %h3 Tätigkeitsbereiche
      Beratung, Projektleitung und Teamleitung, Entwicklung, Training und Schulungen

    .span4
      %h3 Software-Entwicklung
      Innovative Webanwendungen, UI prototyping, testgetriebene Entwicklung, QA & QS, Deployments, TDD, BDD

    .span4
      %h3 Netze &amp; Server
      = top_terms top_tools, %w{Apache DNS Email TCP/IP Router Firewall Messaging VPN SSL Zertifikate CA\ Setup}.sort

  .row
    .span4
      %h3 Themen
      Software für Personalwirtschaft, Branchenlösungen, Systemintegration, Suchmaschinen, Produktentwicklung, Security

    .span4
      %h3 Programmierung
      = top_terms top_tools, %w{Ruby Java Python PHP SQL XML XSL HTML CSS Javascript}.sort
      und andere

    .span4
      %h3 Datenbanken
      = top_terms top_tools, %w{MySQL PostgreSQL sqlite SAP\ DB Oracle MSSQL redis riak}.sort

  .row
    .span4
      %h3 Branchen
      Energie, Telekommunikation, Versicherungen, Medien, Finanzen, Pharmaindustrie

    .span4
      %h3 Gängige Werkzeuge
      = top_terms top_tools, %w{ExtJS jQuery Prototype HAML Sass Coffeescript Capistrano Subversion Shell\ scripting git rspec cucumber Apache nginx Debian Ubuntu Redhat  Ruby\ on\ Rails Sinatra rake Lucene Elasticsearch solr sphinx memcache}.sort
      und andere

    .span4
      %h3 Betriebssysteme
      Mac OS X, iOS, Linux/UNIX, Windows

%section#projekte.hidden-phone
  %a{ name:'projekte' }
  %h2 Projektliste

  / %p
  /   Diese Tabelle können Sie als
  /   %a{ href:'/projects.rtf', title:'Projektliste als RTF (zB für Word) herunterladen' }
  /     %i.icon-download-alt
  /     vollständige Liste im RTF-Format
  /   herunterladen.

  #projects
    = partial(:projects, locals: {visible_projects: @visible_projects} )
