%form#search.form-search.pull-right{ action:'/', method:'get', 'data-remote'=>true }
  %input{ type:'hidden', name:'page', value:'1' }
  %input.input-medium.search-query{ type:'text', name:'q', placeholder:'Filter', value:@query }
  %button.btn{ type:'submit' } Einschränken

= will_paginate @visible_projects, renderer: SWC::Sinatra, class: nil

%table.table{ 'data-total-count'=>@visible_projects.total_entries, 'data-query'=>@query }
  %colgroup
    %col
    %col{ width: '15%' }
    %col{ width: '15%' }
  %thead
    %tr
      %th Titel
      %th Kunde
      %th.right Wann?
  %tbody
    - @visible_projects.each do |project|
      %tr.even
        %td
          %strong= project['title']
        %td
          %small= project['customer']
        %td.right
          %small
            = project['start']
            - unless '' == project['end']
              bis
              = project['end']

      %tr.odd
        %td{ colspan: 3 }
          %p= project['description']
          %p.meta
            %small
              %strong Werkzeuge:
              = project['tools'].is_a?(Array) ? project['tools'].join(', ') : project['tools']
              \|
              %strong Rolle:
              = project['role']

