- content_for :sidebar do
  = haml :sidebar_projects, :layout => false

.project
  ~ @page.to_html(self)
  = haml :page_meta, :layout => false, :locals => { :page => @page }

- if @page.project?
  - @page.as_project do |p|
    %aside.panel
      %h3.subheader Das Projekt auf einen Blick
      %p
        %strong Kunde:
        = p.customer
      %p
        %strong Meine Rolle:
        = p.roles.join(', ')
      %p
        %strong Zeitraum:
        = p.start
        –
        = p.end
      %p
        %strong Werkzeuge:
        = p.tools.join(', ')
